
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap Core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<script	src="/js/angular.min.js"></script>
    <!-- Custom CSS -->
    <link href="/stylesheets/business-casual.css" rel="stylesheet">
	<script src="/angularjs/prodRedirect.js"></script>
	<script src="/angularjs/transaction.js"></script>
</head>

<header>
    <!-- Navigation -->
    <%var user1 =  username %>
     <%username = user1 %>
    <% include header %>
</header>

<body ng-app="prodRedirect" ng-controller="prodRedirect">
<br><br>

<% if(data.length== 0) { %>

	<div class="row">
  <div class="col-sm-2"></div>
 	 <div class="col-sm-9">
	<div class="panel ">
	<div class="panel-body">
	<div class="row">
	<div class="col-sm-3">
	</div>
	<div class="col-sm-9">
			<label><font style="font-weight:normal; font-size: small;">No items to list</font></label>
	</div>
	</div></div>
	
	
	</div></div>
	<div class="col-sm-2"></div></div>
	<br>


<% }else { %>
<% data.forEach(function(item, index){ %>
<div class="row">
  <div class="col-sm-2"></div>
 	 <div class="col-sm-9">
	<div class="panel ">
	<div class="panel-body">
	<div class="row">
	<div class="col-sm-3">
	<a href="#" >
				     <img src="/img/<%=item.brand%>.jpg" class="listImage" alt="<%= item.description %>">
				</a>
		</div>
	<div class="col-sm-9">
		<a href='#' ng-click='displayProduct("<%=item._id%>")'><label> <font style="font-weight: bold; font-size: medium;"><%= item.brand %>: <%= item.label %></font></label></a>
		<div class="row">
			<div class="col-sm-9">
				<label><font style="font-weight:normal; font-size: small;"><%= item.description %></font></label>
			</div>
		</div>
		<br>
		<div class="row">
		<% var diff = Math.ceil((item.add_ts - new Date())/(1000*60*60*24)); %>
			<% if(item.is_auction =='1') {%>
			<div class="col-sm-5">
				<label><font style="font-weight: bold; font-size: medium;"> For auction</font></label>
			</div>
			<div class="col-sm-1">
			</div>
			<div class="col-sm-4">
				<label><font style="font-weight: bold; font-size: medium;">
				<% if(diff == 4) {%>
						Last Day to bid
					<% } else { %>	
				  		<%=4-diff %>d left
				  	<% } %>
				</font></label>
			</div>
			<% } else if(item.is_fixed =='1') {%>
			
				<div class="col-sm-5">
				<label><font style="font-weight: bold; font-size: medium;"> For sale</font></label>
			</div>
			<div class="col-sm-1">
			</div>
			<div class="col-sm-4">
				<label><font style="font-weight: bold; font-size: medium;">$<%= item.price %></font></label>
			</div>
			<% } %>
		</div>
		<br>
		<div class="row">
			<div class="col-sm-5">
				<label> <%= item.conditions %></label>
			</div>
			<div class="col-sm-1">
			</div>
			<div class="col-sm-4">
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-sm-5">
			<% if(item.count >0) { %>
				<label>$<%= item.count %> bids</label>
				<%} %>
			</div>
			<div class="col-sm-1">
			</div>
		</div>
		<br>
		
	</div>
	</div></div>
	
	
	</div></div>
	<div class="col-sm-2"></div></div>
	<br>
	<% }); }%>
	




</body>
</html>

